name: build

on:
  push:
    branches: [develop, main]
    tags:
      - 'v*'

jobs:
  release:
    uses: eoap/eoap-cwl-release-workflow/.github/workflows/release-cwl.yml@main
    with:
      tools: '["occurrence","stac-collection","stac-eopf-product","stac-zarr"]'
      image-prefix: eoap/zarr-cloud-native-format
      registry: ghcr.io
      cwl-workflow-dir: cwl-workflow
      cwl-tool-dir: command-line-tools
    secrets:
      registry-user: ${{ github.actor }}
      registry-password: ${{ secrets.GITHUB_TOKEN }}